@media (hover: hover) and (pointer: fine) {
  .nav_dropdown-list {
    transform: translateY(-1rem) scale(0.8);
    transform-origin: 0 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s cubic-bezier(0.71, 0.05, 0.17, 0.97);
  }

  .dropdown-chevron {
    transition: transform 0.4s cubic-bezier(0.71, 0.05, 0.17, 0.97);
  }

  .nav_dropdown:hover .nav_dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(-0.5rem) scale(1);
    transition: all 0.35s cubic-bezier(0.71, 0.05, 0.17, 0.97);
  }

  .nav_dropdown:hover .dropdown-chevron {
    transform: rotate(180deg);
  }
}

@media (max-width: 768px) {
  .nav_dropdown-list {
    position: relative;
    display: none;
    transform: translateY(0);
  }

  .nav_dropdown-list.active {
    opacity: 1;
    display: flex;
    visibility: visible;
  }
}

/* ---- DIENSTEN SLIDERS ---- */
.swiper-slide.is-diensten img {
  transform: scale(1) rotate(0deg);
  transition: transform 0.2s ease-in-out;
}
.swiper-slide.is-diensten:hover img {
  transform: scale(1.05) rotate(0.001deg);
}

